body{
font-family:Arial;
background:#f2f2f2;
text-align:center;
}

.login-box{
width:300px;
margin:auto;
margin-top:150px;
padding:30px;
background:white;
border-radius:10px;
box-shadow:0 0 10px gray;
}

button{
padding:10px;
width:100px;
background:blue;
color:white;
border:none;
}
